# Logs
#-----------------------------------
*.log
npm-debug.log*

# Dependencies
#-----------------------------------
node_modules/

# Build output
#-----------------------------------
dist/

# Editor directories and files
#-----------------------------------
.idea/
.vscode/
.log/

# TypeScript
#-----------------------------------
*.tsbuildinfo

# Environment
#-----------------------------------
.env

# Workspace settings
#-----------------------------------
*.code-workspace

# System Files
#-----------------------------------
.DS_Store