:root {
	--color-bg: #f1d3aa;
	--color-primary: #5a755a;
	--color-secondary: #ffeed5;
	--color-accent: #d5aa73;
	--color-border: #8d7858;
	--color-highlight: #ffd7ae;
	--color-danger: #dc3545;
	--color-success: #28a745;
	--color-info: #007bff;
	--color-warning: #e69d00;
	--color-dark: #101c31;
	--color-light: #faebd1;
	--color-blue: #2196f3;
	--color-red: #f44336;
	--color-green: #4caf50;
	--color-shadow: rgba(0, 0, 0, 0.3);
	--font-main: "IBMPlexMono", monospace;
	--border-radius: 8px;
	--transition-main: 0.3s ease;
}

* {
	text-rendering: optimizeSpeed;
	image-rendering: pixelated;
}
body {
	background: var(--color-bg);
	min-height: 100vh;
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: var(--font-main);
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}
